{
  "branches": ["+([0-9])?(.{+([0-9]),x}).x", "main"],
  "repositoryUrl": "https://github.com/nordeck/ovc-frontend",
  "debug": "false",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "# Changelog"
      }
    ],
    "@semantic-release/npm",
    ["@semantic-release/exec", {
      "publishCmd": "echo RELEASE_VERSION=${nextRelease.version} >> $GITHUB_OUTPUT"
    }],
    [
      "@semantic-release/git",
      {
        "message":
          "chore(release): ${nextRelease.version} \n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "release/**"
          }
        ]
      }
    ]
  ]
}
